<!DOCTYPE html>
<html>
	{% include "chinese/html/common/header.html" %}
	<body>
		<header>
			<div class="head-top float-fix">
				<h1 class="top-logo" style="font-size:40px;">
					<a href="" title="{{ company.short_name }}" id="web_logo">
						 <img src="{{ logo_image.file_info }}" alt="{{ company.short_name }}" title="{{ company.short_name }}" style="margin:25px 0 0 0px;">
					</a>
				</h1>
				<ul class="top-nav">
					<li><a href="#" onclick="addFavorite(&quot;浏览器不支持此功能，请手动收藏！&quot;);" style="cursor:pointer;" title="收藏本站">收藏本站</a><span>|</span><a class="fontswitch" id="StranLink" href="javascript:StranBody()">繁体中文</a><span>|</span><a href="/en/index.html">English</a></li>
					<li>
						<dl class="top-nav-tel">
							<dt>资讯热线</dt><dd>{{ company.contact_num }}</dd>
						</dl>
					</li>
					<li></li>
				</ul>
			</div>
			<nav class="head-nav">
				<input type="hidden" id="navDownId" value="{% block active_nav_id %}0{% endblock %}">
				<ul id="headNav">		
					<li><a href="index.html" class="head-nav-list1" id="nav_0" title="首页" target="_self">首页</a></li>
					<li>
						<div><a href="company.html" class="head-nav-list1" id="nav_1" title="关于公司" target="_self">关于公司</a></div>
						<dl>
							<dd>
								<a href="company.html" class="head-nav-list2" id="nav_7" title="公司简介" target="_self">公司简介</a>
							</dd>
							<dd>
								<a href="culture.html" class="head-nav-list2" id="nav_8" title="企业文化" target="_self">企业文化</a>
							</dd>
							<dd>
								<a href="application.html" class="head-nav-list2" id="nav_9" title="产品应用" target="_self">产品应用</a>
							</dd>
							<dd>
								<a href="certificate.html" class="head-nav-list2" id="nav_11" title="资质认证" target="_self">资质认证</a>
							</dd>
						</dl>
					</li>
					<li>
						<div><a href="product.html" class="head-nav-list1" id="nav_2" target="_self" title="产品展示">产品展示</a></div>
						<dl style="display: none;">
							{% for product_type in product_types %}
							<dd>
								<a href="product.html?type_id={{product_type.id}}" class="head-nav-list2" id="nav_12" target="_self" title="{{product_type.name}}">{{product_type.name}}</a>
							</dd>
							{% endfor %}
						</dl>
					</li>
					<li>
						<div><a href="news.html" class="head-nav-list1" id="nav_3" title="新闻中心" target="_self">新闻中心</a></div>
						<dl>
							<dd>
								<a href="news.html" class="head-nav-list2" id="nav_19" title="新闻中心" target="_self">新闻中心</a>
							</dd>
						</dl>
					</li>
					<li>
						<div><a href="contact.html" class="head-nav-list1" id="nav_4" title="联系我们" target="_self">联系我们</a></div>
						<dl>
							<dd>
								<a href="contact.html" class="head-nav-list2" id="nav_20" title="联系我们" target="_self">联系我们</a>
							</dd>
						</dl>
					</li>
				</ul>
			</nav>
			<div class="head-search" id="headSearch" data-text="请输入产品的关键词"><form target="_self"><input type="hidden" name="lang" value="cn">&nbsp;<input type="hidden" name="searchtype" value="">&nbsp;<span class="navsearch_input"><label style="color: rgb(153, 153, 153);">请输入产品的关键词</label><input type="text" name="searchword" size="20"></span>&nbsp;<input class="searchimage" type="image" src="images/ico_head_btnsearch.png"></form></div>
		</header>
		{% block rolling %} {% endblock %}
		{% block content %} {% endblock %}
		{% include "chinese/html/common/footer.html" %}
		{% block additional %} {% endblock %}
	</body>
</html>