{% extends "chinese/html/common/base.html" %}

{% block active_nav_id %}1{% endblock %}

{% block content %}
	<div class="inside-page">
	
	    <div class="page-sidebar" id="pageSidebar">
			<div class="page-sidebar-title">				
				<div class="sidebar-title-inner">
					<h2>关于公司</h2>
				</div>												
			</div>	
			<div class="page-sidebar-list" id="sidebarList">
				<dl class="list-none navnow">
					<dt id="part2_7">
						<a href="company.html" title="公司简介" class="zm">
							<span>公司简介</span>
						</a>
					</dt>
				</dl>
				<dl class="list-none navnow">
					<dt id="part2_8">
						<a href="culture.html" title="企业文化" class="zm">
							<span>企业文化</span>
						</a>
					</dt>
				</dl>
				<dl class="list-none navnow">
					<dt id="part2_9">
						<a href="application.html" title="产品应用" class="zm">
							<span>产品应用</span>
						</a>
					</dt>
				</dl>
				<dl class="list-none navnow sidebar-dl-current">
					<dt id="part2_11" class="on">
						<a href="certificate.html" title="资质认证" class="zm bgnone">
							<span>资质认证</span>
						</a>
					</dt>
				</dl>				
			</div>
			
			<div class="page-sidebar-info active editor"><br><div class="clear"></div></div> 	
			
		</div>
	    
	    <div class="page-content" id="pageContent">
		    <div class="page-content-title float-fix">
		    	<h3>资质认证</h3>
		    	<div class="position">当前位置：<a href="index.html" title="首页">首页</a> &gt; <a href="company.html">关于公司</a></div>
		    </div>
	
	        <div class="active" id="productlist">
				<ul class="list-none metlist">
					{% for image in certificate_images %}
					<li class="list" style="width: 222px; margin-left: 16px; margin-right: 16px; height: 235px;">
						<a href="{{ image.file_info }}" title="{{image.description}}" target="_blank" class="img">
							<img src="{{ image.file_info }}" alt="{{image.description}}" title="{{image.description}}" width="139" height="196">
						</a>
						<h3>
							<a href="{{ image.file_info }}" title="{{image.description}}" target="_blank">{{image.display_name}}</a>
						</h3>
					</li>
					{% endfor %}
				</ul>
				<div class="clear"></div>
			</div>
	
	    </div>
	    
	    <div class="clear"></div>
	</div>

{% endblock %}