{% extends "chinese/html/common/base.html" %}

{% block active_nav_id %}0{% endblock %}

{% block rolling %}

<div id="flashBanner">
    <div class="flicking-con"></div>
	<div class="main-banner">
		<ul class="list-none" style="overflow: visible;">
			{% for image in rolling_images %}
			<li style="float: none; display: block; position: absolute; top: 0px; left: 0px; width: 1349px;"><a href="" title=""><span class="img-span" style="background-image: url(&#39;{{ image.file_info }}&#39;);"></span></a></li>
			{% endfor %}
		</ul>
		<a href="javascript:;" id="btn_prev" style="overflow: visible; display: inline; opacity: 0.4217827674798844;"></a>
		<a href="javascript:;" id="btn_next" style="overflow: visible; display: inline; opacity: 0.4217827674798844;"></a>
	</div>
</div>

{% endblock %}

{% block content %}
<div class="main-block float-fix">

	<!-- 
	<div class="main-block-left block-slide-img" id="slideImg">
		<ul>
			{% for product in products %}
			<li style="display: list-item;">
				<a href="product_detail.html?id={{product.id}}" title="{{product.name}}">
				<p><img src="{{product.pic}}" width="330" height="200" alt="{{product.name}}"></p>
					<h4 class="slide-img-title">{{product.name}}</h4>
				</a>
			</li>
			{% endfor %}

		</ul>
		<i class="slide-btn-l slide-btn-disabled"></i><i class="slide-btn-r"></i>
	</div>
	-->
	
	<div class="main-block-right">
	
		<div class="block-slide-news" id="slideNews">
			<ul style="margin-top: -0.2263389484662528px;">
				{% for news in all_news %}
				<li>
					<a href="news_detail.html?id={{news.id}}" title="{{news.title}}" target="_self">{{news.title}}</a><span style="float:right"><i class="ico-uptime"></i>{{news.create_time|date:'Y年m月d日 H:i'}}</span>
				</li>
				{% endfor %}
			</ul>
			<i class="slide-btn-l" id="newsSlidePrev"></i><i class="slide-btn-r" id="newsSlideNext"></i>
		</div>
		
		<div class="block-text-paragraph" id="blockTextPara" style="height: 151px;">
			<h3 class="paragraph-title">
				<span>
				公司简介
				</span>
				<a href="company.html" title="公司详细介绍" target="_self">详细介绍&gt;&gt;</a>
			</h3>
			<div class="paragraph-content">
				<!-- <img alt="" src="images/20130815_165321.jpg" style="width: 150px; height: 100px; float: left; margin: 1px 8px;"> -->
				<span style="line-height: 2;">{% autoescape off %} {{ company.abstract }} {% endautoescape %}</span>
			</div>
		</div>
		
	</div>	
</div>

<div class="main-photos">
	<div class="main-photos-inner">
		<h2>
			产品展示
		</h2>
		<nav id="photoNavBox">
			{% for product_type in product_types %}
			<a class="photo-show-nav" href="#product_type_{{product_type.id}}" title="{{product_type.name}}">{{product_type.name}}</a>
			{% endfor %}
		</nav>
		<div class="photos-inner-wrap" id="photosWrap">
			{% for product_divide in product_divides %}
			<ul class="photo-show-content" id="product_type_{{product_divide.product_type.id}}" style="display: none; position: relative; overflow: hidden;"><li style="position: relative; width: 9999px; height: auto;">
				{% for product in product_divide.products %}
				<a href="product_detail.html?id={{product.id}}" title="{{product.name}}" target="_self" style="width: 230px; float: left;">
					<span class="order-mark">{{ forloop.counter }}</span>
					<img src="{{product.pic}}" width="230" height="136" data-imgurl="{{product.pic}}" alt="{{product.name}}">										
					<h5>{{product.name}}</h5>
					<!-- <p class="photo-update-time">
						<i class="ico-uptime"></i>2015-04-28
					</p>-->
				</a>
				{% endfor %}
			</li></ul>
			{% endfor %}
				
		</div>	
		<i class="slide-btn-l slide-btn-disabled" id="photoPrev" style="margin-top: 4px;"></i><i class="slide-btn-r" id="photoNext" "="" style="margin-top: 4px;"></i>
	</div>	
</div>
{% endblock %}
