{% extends "chinese/html/common/base.html" %}

{% block active_nav_id %}3{% endblock %}

{% block content %}
	<div class="inside-page">
	
	    <div class="page-sidebar" id="pageSidebar">
			<div class="page-sidebar-title">				
				<div class="sidebar-title-inner">
					<h2>新闻中心</h2>
						
				</div>												
			</div>	
			<div class="page-sidebar-list" id="sidebarList">			
				<dl class="list-none navnow sidebar-dl-current">
					<dt id="part2_19" class="on">
						<a href="news.html" title="新闻中心" class="zm">
							<span>新闻中心</span>
						</a>
					</dt>
				</dl>
			</div>
			
			<div class="page-sidebar-info active editor"><br><div class="clear"></div></div> 	
			
		</div>
			
	    <div class="page-content" id="pageContent">
		    <div class="page-content-title float-fix">
		    	<h3>具体新闻</h3>
		    	<div class="position">当前位置：<a href="index.html" title="首页">首页</a> &gt; <a href="news.html">新闻中心</a></div>
		    </div>
	
	        <div class="active" id="shownews">
	            <h1 class="title">{{ news.title }}</h1>
	            <div class="content news_list_style">
	            {% autoescape off %} {{ news.content }} {% endautoescape %}
	            </div>
	       </div>
	
	    </div>
	    <div class="clear"></div>
	</div>
{% endblock %}

{% block additional %}
	<style>
	.news_list_style ol {
		list-style: decimal;
	}
	.news_list_style ul {
		list-style: disc;
	}
	</style>
{% endblock %}
