{% extends "chinese/html/common/base.html" %}

{% block active_nav_id %}2{% endblock %}
{% block rolling %}{% endblock %}

{% block content %}
<div class="inside-page">

    <div class="page-sidebar" id="pageSidebar">
		<div class="page-sidebar-title">				
			<div class="sidebar-title-inner">
				<h2>产品展示</h2>
					
			</div>												
		</div>
		<div class="page-sidebar-list" id="sidebarList">
			{% for product_type in product_types %}
			<dl class="list-none navnow {% if select_product_type_id == product_type.id %}sidebar-dl-current{% endif %}">
				<dt {% if select_product_type_id == product_type.id %}class="on"{% endif %}>
					<a href="product.html?type_id={{product_type.id}}" title="{{prduct_type.name}}" class="zm">
						<span>{{ product_type.name }}</span>
					</a>
				</dt>
			</dl>
			{% endfor %}
		</div>
		
		<div class="page-sidebar-info active editor"><br><div class="clear"></div></div> 	
		
	</div>
		
    <div class="page-content" id="pageContent">
	    <div class="page-content-title float-fix">
	    	<h3>产品展示</h3>
	    	<div class="position">当前位置：<a href="index.html" title="首页">首页</a> &gt; <a href="product.html">产品展示</a></div>
	    </div>

        <div class="active" id="productlist">
			<ul class="list-none metlist">
				{% for product in products %}
				<li class="list" style="width: 222px; margin-left: 16px; margin-right: 16px; height: 185px;">
					<a href="product_detail.html?id={{product.id}}" title="{{product.name}}" target="_self" class="img">
						<img src="{{product.pic}}" alt="{{product.name}}" title="{{product.name}}" width="200" height="150">
					</a>
					<h3>
						<a href="product_detail.html?id={{product.id}}" title="{{product.name}}" target="_self">{{product.name}}</a>
					</h3>
				</li>
				{% endfor %}
			</ul>
			<div class="clear"></div>
		</div>
		<div id="flip">
			<div class="digg4 metpager_8">
				{% if now_page_num == 1 %}
				<span class="disabled disabledfy">
					<b>«</b>
				</span>
				<span class="disabled disabledfy">‹</span>
				{% else %}
				<a class="disabledfy" href="product.html?type_id={{select_product_type_id}}&page_num=1">
					<b>«</b>
				</a>
				<a class="disabledfy" href='product.html?type_id={{select_product_type_id}}&page_num={{now_page_num|add:"-1"}}'>‹</a>
				{% endif %}
				{% for i in page_count %}
				{% if i == now_page_num %}
				<span class="current">{{ i }}</span>
				{% else %}
				<a href='product.html?type_id={{select_product_type_id}}&page_num={{i}}'>{{ i }}</a>
				{% endif %}
				{% endfor %}
				{% if now_page_num == max_page_num %}
				<span class="disabled disabledfy">
					<b>»</b>
				</span>
				<span class="disabled disabledfy">›</span>
				{% else %}
				<a class="disabledfy" href='product.html?type_id={{select_product_type_id}}&page_num={{now_page_num|add:"1"}}'>›</a>
				<a class="disabledfy" href="product.html?type_id={{select_product_type_id}}&page_num={{max_page_num}}">
					<b>»</b>
				</a>
				{% endif %}
			</div>
		</div>

    </div>
    <div class="clear"></div>
</div>

{% endblock %}