{% extends "chinese/html/common/base.html" %}

{% block active_nav_id %}1000{% endblock %}

{% block content %}

<div id="pageSidebar" style="width:300px; margin: 35px 15px 15px 30%;">
	<div class="page-sidebar-title">				
		<div class="sidebar-title-inner">
			<h2>站点地图</h2>
		</div>												
	</div>
	<div class="page-sidebar-list" id="sidebarList">			
		<dl class="list-none navnow">
			<dt id="part2_7">
				<a href="http://www.slongpump.com/cn/index.html">浙江省双龙泵业官方首页</a>
			</dt>
		</dl>
		<dl class="list-none navnow">
			<dt id="part2_8">
				<a href="http://www.slongpump.com/cn/index.html">台州市双龙泵业官方首页</a>
			</dt>
		</dl>
		<dl class="list-none navnow">
			<dt id="part2_9">
				<a href="http://www.slongpump.com/cn/company.html">公司介绍</a>
			</dt>
		</dl>
		<dl class="list-none navnow">
			<dt id="part2_9">
				<a href="http://www.slongpump.com/cn/culture.html">文化介绍</a>
			</dt>
		</dl>
		<dl class="list-none navnow">
			<dt id="part2_9">
				<a href="http://www.slongpump.com/cn/application.html">产品应用</a>
			</dt>
		</dl>
		<dl class="list-none navnow">
			<dt id="part2_9">
				<a href="http://www.slongpump.com/cn/certificate.html">资质认证</a>
			</dt>
		</dl>
		<dl class="list-none navnow">
			<dt id="part2_9">
				<a href="http://www.slongpump.com/cn/product.html">产品介绍</a>
			</dt>
		</dl>
		<dl class="list-none navnow">
			<dt id="part2_9">
				<a href="http://www.slongpump.com/cn/product_detail.html">产品详情</a>
			</dt>
		</dl>
		<dl class="list-none navnow">
			<dt id="part2_9">
				<a href="http://www.slongpump.com/cn/news.html">新闻中心</a>
			</dt>
		</dl>
		<dl class="list-none navnow">
			<dt id="part2_9">
				<a href="http://www.slongpump.com/cn/news_detail.html">新闻详情</a>
			</dt>
		</dl>
		<dl class="list-none navnow">
			<dt id="part2_11">
				<a href="http://www.slongpump.com/cn/contact.html" class="zm bgnone">联系我们</a>
			</dt>
		</dl>				
	</div>
	<div class="page-sidebar-info active editor"><br><div class="clear"></div></div> 	
</div>

{% endblock %}