{% extends "backend/html/common/common.html" %}

{% block siderbar_active_base %}class="active"{% endblock %}
{% block siderbar_arrow_edit %}
	<div class="pointer">
	    <div class="arrow"></div>
	    <div class="arrow_border"></div>
	</div>
{% endblock %}

{% block content %}

	<!-- main container -->
    <div class="content">
        
        <div class="container-fluid">
            <div id="pad-wrapper" class="gallery">
            	<div class="gallery">
                <!-- rolling image wrapper -->
	                <div class="gallery-wrapper">
	                 	<div class="row-fluid header">
	                    	<h4>首页滚动图片编辑：（推荐大小1920 * 540）</h4>
	               		</div>
	                    <div class="row gallery-row">
							{% for image in rolling_images %}
								<div class="span3 img-container">
		                            <div class="img-box">
	                                	<span class="icon edit">
	                                    	<i class="gallery-edit"></i>
	                                	</span>
	                                	
				                        <!-- edit image pop up -->
				                        <div class="popup hide image_popup">
				                        	<form class="edit_image_form" enctype="multipart/form-data" method="post" action="../edit_file">
					                            <div class="pointer">
					                                <div class="arrow"></div>
					                                <div class="arrow_border"></div>
					                            </div>
					                            <i class="close-pop table-delete"></i>
					                            <h5>编辑首页滚动图片</h5>
					                            <input type="text" name="redirect" style="display:none;" value="edit/base.html" />
					                            <input type="text" name="file_id" class="popup_image_id" style="display:none;" value="{{image.id}}" />
					                            <input type="text" name="media_type" style="display:none;" value="{{image.media_type}}" readonly />
					                            <input type="text" name="type" class="inline-input" style="display:none;" value="{{ image.type }}" readonly />
					                            <input type="text" name="tag" class="inline-input" style="display:none;" value="{{ image.tag }}" readonly />
					                            <input type="text" name="display_name" class="inline-input popup_display_name" placeholder="显示名" value="{{ image.display_name }}" />
					                            <input type="text" class="inline-input popup_image_link" placeholder="图片链接" value="{{ image.thumbnail }}"/>
					                            <div class="popup_description">
					                                <h6>描述</h6>
					                                <textarea name="description">{{ image.description }}</textarea>
					                                <input type="submit" value="保存" class="btn-glow primary" />
					                            </div>
						                    </form>
				                        </div>
				                        <!-- end image popup -->
	                                	
		                                <form class="delete_image_form" enctype="multipart/form-data" method="post" action="../delete_file">
			                                <input type="text" name="redirect" style="display:none;" value="edit/base.html" />
			                                <input type="text" name="file_id" class="image_id" value="{{image.id}}" style="display:none;"/>
			                                <span class="icon trash">
			                                    <i class="gallery-trash"></i>
			                                </span>
		                                </form>
		                                <img src="{{ image.thumbnail }}" />
		                                <p class="title display_name">{{ image.display_name }}</p>
		                                <p class="description" style="display:none;">{{ image.description }}</p>
		                            </div>
		                        </div>
							{% endfor %}
	
	                        <!-- new image button -->
	                        <div class="span3 new-img">
								<form class="upload_image_form" enctype="multipart/form-data" method="post" action="../upload_file">
									<div class="image-upload">
									    <label for="rolling_image_upload">
									        <img src="img/new-gallery-img.png"/>
									    </label>
									    <input type="text" name="redirect" style="display:none;" value="edit/base.html" />
										<input id="rolling_image_upload" class="image_upload" type="file" name="file_info" style="display:none;"/>
										<input type="text" name="media_type" style="display:none;" value="image" readonly />
										<input type="text" name="type" style="display:none;" value="{{ type }}" />
										<input type="text" name="tag" style="display:none;" value="{{ rolling_tag }}" />
									</div>
								</form>
	                        </div>
	                        
	                      </div>
	
	                    </div>
                		<!-- end rolling image wrapper -->
                		
                		<hr>
                		
                		<!-- logo image wrapper -->
	                	<div class="gallery-wrapper">
	                 	<div class="row-fluid header">
	                    	<h4>公司logo图片编辑：（推荐大小160 * 40）</h4>
	               		</div>
	                    <div class="row gallery-row">
							{% for image in logo_images %}
								<div class="span3 img-container">
		                            <div class="img-box">
	                                	<span class="icon edit">
	                                    	<i class="gallery-edit"></i>
	                                	</span>
	                                	<!-- edit image pop up -->
				                        <div class="popup hide image_popup">
				                        	<form class="edit_image_form" enctype="multipart/form-data" method="post" action="../edit_file">
					                            <div class="pointer">
					                                <div class="arrow"></div>
					                                <div class="arrow_border"></div>
					                            </div>
					                            <i class="close-pop table-delete"></i>
					                            <h5>编辑公司logo图片</h5>
					                            <input type="text" name="redirect" style="display:none;" value="edit/base.html" />
					                            <input type="text" name="file_id" class="popup_image_id" style="display:none;" value="{{image.id}}" />
					                            <input type="text" name="media_type" style="display:none;" value="{{image.media_type}}" readonly />
					                            <input type="text" name="type" class="inline-input" style="display:none;" value="{{ image.type }}" readonly />
					                            <input type="text" name="tag" class="inline-input" style="display:none;" value="{{ image.tag }}" readonly />
					                            <input type="text" name="display_name" class="inline-input popup_display_name" placeholder="显示名" value="{{ image.display_name }}" />
					                            <input type="text" class="inline-input popup_image_link" placeholder="图片链接" value="{{ image.thumbnail }}"/>
					                            <div class="popup_description">
					                                <h6>描述</h6>
					                                <textarea name="description">{{ image.description }}</textarea>
					                                <input type="submit" value="保存" class="btn-glow primary" />
					                            </div>
						                    </form>
				                        </div>
				                        <!-- end image popup -->
	                                	
		                                <form class="delete_image_form" enctype="multipart/form-data" method="post" action="../delete_file">
			                                <input type="text" name="redirect" style="display:none;" value="edit/base.html" />
			                                <input type="text" name="file_id" class="image_id" value="{{image.id}}" style="display:none;"/>
			                                <span class="icon trash">
			                                    <i class="gallery-trash"></i>
			                                </span>
		                                </form>
		                                <img src="{{ image.thumbnail }}" />
		                                <p class="title display_name">{{ image.display_name }}</p>
		                                <p class="description" style="display:none;">{{ image.description }}</p>
		                            </div>
		                        </div>
							{% endfor %}
	
	                        <!-- new image button -->
	                        <div class="span3 new-img">
								<form class="upload_image_form" enctype="multipart/form-data" method="post" action="../upload_file">
									<div class="image-upload">
									    <label for="logo_image_upload">
									        <img src="img/new-gallery-img.png"/>
									    </label>
									    <input type="text" name="redirect" style="display:none;" value="edit/base.html" />
										<input id="logo_image_upload" class="image_upload" type="file" name="file_info" style="display:none;"/>
										<input type="text" name="media_type" style="display:none;" value="image" readonly />
										<input type="text" name="type" style="display:none;" value="{{ type }}" />
										<input type="text" name="tag" style="display:none;" value="{{ logo_tag }}" />
									</div>
								</form>
	                        </div>
	                      </div>
	
	                    </div>
                		<!-- end logo image wrapper -->
                		
                		<hr>
                		
                		<!-- certificate wrapper -->
	                	<div class="gallery-wrapper">
	                 	<div class="row-fluid header">
	                    	<h4>资质认证（证书）图片编辑：（推荐大小278 * 392）</h4>
	               		</div>
	                    <div class="row gallery-row">
							{% for image in certificate_images %}
								<div class="span3 img-container">
		                            <div class="img-box">
	                                	<span class="icon edit">
	                                    	<i class="gallery-edit"></i>
	                                	</span>
	                                	
	                                	<!-- edit image pop up -->
				                        <div class="popup hide image_popup">
				                        	<form class="edit_image_form" enctype="multipart/form-data" method="post" action="../edit_file">
					                            <div class="pointer">
					                                <div class="arrow"></div>
					                                <div class="arrow_border"></div>
					                            </div>
					                            <i class="close-pop table-delete"></i>
					                            <h5>编辑资质认证图片</h5>
					                            <input type="text" name="redirect" style="display:none;" value="edit/base.html" />
					                            <input type="text" name="file_id" class="popup_image_id" style="display:none;" value="{{image.id}}" />
					                            <input type="text" name="media_type" style="display:none;" value="{{image.media_type}}" readonly />
					                            <input type="text" name="type" class="inline-input" style="display:none;" value="{{ image.type }}" readonly />
					                            <input type="text" name="tag" class="inline-input" style="display:none;" value="{{ image.tag }}" readonly />
					                            <input type="text" name="display_name" class="inline-input popup_display_name" placeholder="显示名" value="{{ image.display_name }}" />
					                            <input type="text" class="inline-input popup_image_link" placeholder="图片链接" value="{{ image.thumbnail }}"/>
					                            <div class="popup_description">
					                                <h6>描述</h6>
					                                <textarea name="description">{{ image.description }}</textarea>
					                                <input type="submit" value="保存" class="btn-glow primary" />
					                            </div>
						                    </form>
				                        </div>
				                        <!-- end image popup -->
	                                	
		                                <form class="delete_image_form" enctype="multipart/form-data" method="post" action="../delete_file">
			                                <input type="text" name="redirect" style="display:none;" value="edit/base.html" />
			                                <input type="text" name="file_id" class="image_id" value="{{image.id}}" style="display:none;"/>
			                                <span class="icon trash">
			                                    <i class="gallery-trash"></i>
			                                </span>
		                                </form>
		                                <img src="{{ image.thumbnail }}" />
		                                <p class="title display_name">{{ image.display_name }}</p>
		                                <p class="description" style="display:none;">{{ image.description }}</p>
		                            </div>
		                        </div>
							{% endfor %}
	
	                        <!-- new image button -->
	                        <div class="span3 new-img">
								<form class="upload_image_form" enctype="multipart/form-data" method="post" action="../upload_file">
									<div class="image-upload">
									    <label for="certificate_image_upload">
									        <img src="img/new-gallery-img.png"/>
									    </label>
									    <input type="text" name="redirect" style="display:none;" value="edit/base.html" />
										<input id="certificate_image_upload" class="image_upload" type="file" name="file_info" style="display:none;"/>
										<input type="text" name="media_type" style="display:none;" value="image" readonly />
										<input type="text" name="type" style="display:none;" value="{{ type }}" />
										<input type="text" name="tag" style="display:none;" value="{{ certificate_tag }}" />
									</div>
								</form>
	                        </div>
	                      </div>
	
	                    </div>
                		<!-- end certificate wrapper -->
                		
                	</div>
                
               	</div>
	    </div>
	</div>
    <!-- end main container -->
{% endblock %}

{% block additional %}
	<!-- this page specific styles -->
    <link rel="stylesheet" href="css/compiled/gallery.css" type="text/css" media="screen" />
	<!-- this page scripts -->
    <script src="js/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/theme.js"></script>
	<script>
	 $(document).ready(function() {
	    $("#dashboard-menu .dropdown-toggle").click();
		
	    /* image */
		 // edit image
		 $(".content").delegate(".edit", "click", function() {
			 var url_link_list = window.location.href.split("/");
			 var url_link = url_link_list.slice(0, url_link_list.length-1).join("/") + "/";
			 var image_link = url_link + $(this).parent().find(".popup_image_link").val();
			 $(this).parent().find(".popup_image_link").val(image_link);
			 
			 var location = $(this).position();
			 $(this).parent().find(".image_popup").css({'top': location.top - 90, 'left': location.left + 60}).show();
		 });
		 
		 $(".content").delegate(".trash", "click", function(){
			 var image_id = $(this).parent().find(".image_id").val();
			 $(this).parent().submit();
		 });
		 
		 $(".content").delegate(".close-pop", "click", function() {
			 $(this).parent().parent().hide();
		 });
		 
		 $(".content").delegate(".image_upload", "change", function() {
		 	 $(this).parents(".upload_image_form").submit();
		 });
		 /* end image */
	 });
	</script>

{% endblock %}