{% extends "backend/html/common/common.html" %}

{% block siderbar_active_company %}class="active"{% endblock %}
{% block siderbar_arrow_edit %}
	<div class="pointer">
	    <div class="arrow"></div>
	    <div class="arrow_border"></div>
	</div>
{% endblock %}

{% block content %}
	<!-- main container -->
    <div class="content">
        
        <div class="container-fluid">
            <div id="pad-wrapper" class="form-page">
                <div class="row-fluid form-wrapper">
                   	<div class="span8 column">
                   		<div class="row-fluid header">
		                    <h4>公司信息编辑：</h4>
		                    {% ifequal company_info.lang "chinese" %}
		                    	<a href="company.html?lang=english" style="float:right;">切换到英文编辑</a>
		                    {% endifequal %}
		                    {% ifequal company_info.lang "english" %}
		                    	<a href="company.html?lang=chinese" style="float:right;">切换到中文编辑</a>
		                    {% endifequal %}
		                </div>
                    	<form class="edit_company_form" enctype="multipart/form-data" method="post" action="">
	                        <div class="field-box hidden">
	                        	<label>语言:</label>
	                        	<input type="text" class="inline-input span8" name="lang" value="{{ company_info.lang }}" />
	                        </div>
	                        <div class="field-box">
	                        	<label>公司简称:</label>
	                        	<input type="text" class="inline-input span8" name="short_name" placeholder="不超过50字" value="{{ company_info.short_name }}" maxlength="50"/>
	                        </div>
	                        <div class="field-box">
	                        	<label>公司全称:</label>
	                        	<input type="text" class="inline-input span8" name="full_name" placeholder="不超过200字" value="{{ company_info.full_name }}" maxlength="200"/>
	                        </div>
	                        <div class="field-box">
	                        	<label>公司联系电话:</label>
	                        	<input type="text" class="inline-input span8" placeholder="不超过20字" data-toggle="tooltip" data-trigger="focus" title="格式：英文 +(86)0576-81234567，中文0576-81234567" data-placement="right" name="contact_num" value="{{ company_info.contact_num }}" maxlength="20"/>
	                        </div>
	                        <div class="field-box">
	                        	<label>公司订单电话:</label>
	                        	<input type="text" class="inline-input span8" placeholder="不超过20字" data-toggle="tooltip" data-trigger="focus" title="格式：英文 +(86)0576-81234567，中文0576-81234567" data-placement="right" name="order_num" value="{{ company_info.order_num }}" maxlength="20"/>
	                        </div>
	                        <div class="field-box">
	                        	<label>公司传真:</label>
	                        	<input type="text" class="inline-input span8" placeholder="不超过20字" data-toggle="tooltip" data-trigger="focus" title="格式：英文 +(86)0576-81234567，中文0576-81234567" data-placement="right" name="fax_num" value="{{ company_info.fax_num }}" maxlength="20"/>
	                        </div>
	                        <div class="field-box">
	                        	<label>公司联系人:</label>
	                        	<input type="text" class="inline-input span8" name="contact_name" placeholder="不超过50字" value="{{ company_info.contact_name }}" maxlength="50"/>
	                        </div>
	                        <div class="field-box">
	                        	<label>公司地址:</label>
	                        	<input type="text" class="inline-input span8" name="address" placeholder="不超过500字" value="{{ company_info.address }}" maxlength="500"/>
	                        </div>
	                        <div class="field-box">
	                        	<label>公司邮编:</label>
	                        	<input type="text" class="inline-input span8" name="postcode" placeholder="不超过6字" data-toggle="tooltip" data-trigger="focus" title="格式：123456" data-placement="right" value="{{ company_info.postcode }}" maxlength="6"/>
	                        </div>
	                        <div class="field-box">
	                        	<label>公司邮箱:</label>
	                        	<input type="text" class="inline-input span8" name="email" placeholder="不超过50字" data-toggle="tooltip" data-trigger="focus" title="格式：abc@xxx.com" data-placement="right" value="{{ company_info.email }}" maxlength="50"/>
	                        </div>
	                        <div class="field-box">
	                        	<label>公司网址:</label>
	                        	<input type="text" class="inline-input span8" name="website" placeholder="不超过50字" data-toggle="tooltip" data-trigger="focus" title="格式：http://www.xxx.com" data-placement="right" value="{{ company_info.website }}" maxlength="50"/>
	                        </div>
	                        <div class="field-box">
	                        	<label>公司简介:</label>
			                    <textarea id="abstract_editor_id" name="abstract" style="width:600px;height:200px;" placeholder="不超过500字">{{ company_info.abstract }}</textarea>
							</div>
							<div class="field-box">
	                        	<label>公司详细介绍:</label>
			                    <textarea id="introduction_editor_id" name="introduction" style="width:600px;height:200px;" placeholder="不超过500字">{{ company_info.introduction }}</textarea>
							</div>
							<div class="field-box">
	                        	<label>公司文化介绍:</label>
			                    <textarea id="culture_editor_id" name="culture" style="width:600px;height:200px;" placeholder="不超过500字">{{ company_info.culture }}</textarea>
							</div>
							<div class="field-box">
	                        	<label>公司产品应用:</label>
			                    <textarea id="application_editor_id" name="application" style="width:600px;height:200px;" placeholder="不超过500字">{{ company_info.application }}</textarea>
							</div>
							<!-- 
							<div class="field-box">
	                        	<label>公司主营业务介绍:</label>
			                    <textarea id="business_editor_id" name="business" style="width:600px;height:200px;" placeholder="不超过500字"></textarea>
							</div>
							<div class="field-box">
	                        	<label>公司资格和证书介绍:</label>
			                    <textarea id="certificate_info_editor_id" name="certificate_info" style="width:600px;height:200px;" placeholder="不超过500字"></textarea>
							</div>
							-->
	                        <div class="field-box">
	                        	<div><input type="submit" value="保存" class="btn-glow primary" /></div>
	                        </div>
                        </form>
                	</div>
	            </div>
	        </div>
	    </div>
    </div>
    <!-- end main container -->
{% endblock %}

{% block additional %}
    <!-- this page specific styles -->
    <link rel="stylesheet" href="css/compiled/form-showcase.css" type="text/css" media="screen" />

	<!-- this page scripts -->
    <script src="js/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/theme.js"></script>
    <script charset="utf-8" src="js/editor/kindeditor.js"></script>
	<script charset="utf-8" src="js/lang/zh_CN.js"></script>
    <script>
	    $(document).ready(function() {
	    	$("#dashboard-menu .dropdown-toggle").click();
	
			/* textarea editor */
			var cn_editor = null;
			var en_editor = null;
	        KindEditor.ready(function(K) {
	        	var options = {
	        			themesPath : 'css/editor/',
	        	        filterMode : true,
	        	        uploadJson : '../ajax_upload_file',
	        	        filePostName : 'file_info'
	        	};
	        	abstract_editor = K.create('#abstract_editor_id', options);
	        	introduction_editor = K.create('#introduction_editor_id', options);
	        	culture_editor = K.create('#culture_editor_id', options);
	        	application_editor = K.create('#application_editor_id', options);
	        	
	        	abstract_editor.html($("#abstract_editor_id").text());
	        	introduction_editor.html($("#introduction_editor_id").text());
	        	culture_editor.html($("#culture_editor_id").text());
	        	application_editor.html($("#application_editor_id").text());
	        	
	        	abstract_editor.sync();
	        	introduction_editor.sync();
	        	culture_editor.sync();
	        	application_editor.sync();
	        });
	    });
    </script>

{% endblock %}