{% extends "backend/html/common/common.html" %}

{% block siderbar_active_product %}class="active"{% endblock %}
{% block siderbar_arrow_edit %}
	<div class="pointer">
	    <div class="arrow"></div>
	    <div class="arrow_border"></div>
	</div>
{% endblock %}

{% block content %}

	<!-- main container -->
    <div class="content">
        
        <!-- product_type edit -->
        <div class="container-fluid">
        	<br>
        	<a href="product.html" style="float:right;">返回产品信息</a>
            <div id="pad-wrapper" class="gallery">
            	<div class="gallery">
                    <div class="row-fluid header">
                        <h3>产品类型管理</h3>
                    </div>
                    
                    
                    <!-- chinese product_type table-->
	                <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
	                <div class="table-wrapper products-table section chinese_product_type">
	                    <div class="row-fluid head">
	                        <div class="span12">
	                            <h4>中文产品类型</h4>
	                        </div>
	                    </div>
	
	                    <div class="row-fluid filter-block">
	                        <div class="pull-right">
	                        	<!--
	                            <div class="ui-select">
	                                <select>
	                                  <option />Filter users
	                                  <option />Signed last 30 days
	                                  <option />Active users
	                                </select>
	                            </div>
	                            -->
	                            <form class="new_product_type_form" enctype="multipart/form-data" method="post" action="edit_product_type">
                           			<input type="text" name="lang" style="display:none" value="chinese" />
                           			产品类型名称：<input type="text" name="name" class="product_type_name" />
                           			产品类型介绍：<input type="text" name="introduction" class="product_type_introduction" />
                           			<input type="submit" class="btn-flat success new_product_type" value="+ 添加产品类型"/>
                           		</form>
	                        </div>
	                    </div>
	
	                    <div class="row-fluid">
	                        <table class="table table-hover">
	                            <thead>
	                                <tr>
	                                    <th class="span3">
	                                                                                产品类型名称
	                                    </th>
	                                    <th class="span3">
	                                        <span class="line"></span>产品类型介绍
	                                    </th>
	                                    <th class="span3">
	                                        <span class="line"></span>创建时间
	                                    </th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                            	{% if chinese_product_types %}
										{% for product_type in chinese_product_types %}
			                                <!-- row -->
			                                <tr>
			                                    <td>
			                                    	<input type="text" name="lang" class="product_type_lang" style="display:none" value="{{product_type.lang}}"/>
			                                        <input type="button" class="btn btn-link product_type_name edit_product_type" style="font-size:12px;" value="{{ product_type.name }}" />
			                                    </td>
			                                    <td class="introduction">
			                                    {{ product_type.introduction }}
			                                    </td>
			                                    <td>
			                                    {{ product_type.create_time|date:'Y-m-d H:i' }}
			                                    </td>
			                                    <td>
			                                        <ul class="actions">
			                                        		<li class="last">
				                                        		<form class="delete_product_type_form hidden" enctype="multipart/form-data" method="post" action="delete_product_type">
				                                        			<input type="text" name="id" class="product_type_id" style="display:none" value="{{product_type.id}}"/>
				                                        		</form>
				                                        		<a href="#" class="delete_product_type">删除</a>
			                                        		</li>
			                                        </ul>
			                                    </td>
			                                </tr>
		                                {% endfor %}
		                            {% endif %}
	                            </tbody>
	                        </table>
	                    </div>
	                </div>
	                <!-- end chinese product_type table -->
                    
                    
                    
                    
                    
                    <!-- english product_type table-->
	                <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
	                <div class="table-wrapper products-table section chinese_product_type">
	                    <div class="row-fluid head">
	                        <div class="span12">
	                            <h4>英文产品类型</h4>
	                        </div>
	                    </div>
	
	                    <div class="row-fluid filter-block">
	                        <div class="pull-right">
	                        	<!--
	                            <div class="ui-select">
	                                <select>
	                                  <option />Filter users
	                                  <option />Signed last 30 days
	                                  <option />Active users
	                                </select>
	                            </div>
	                            -->
	                            <form class="new_product_type_form" enctype="multipart/form-data" method="post" action="edit_product_type">
                           			<input type="text" name="lang" style="display:none" value="english" />
                           			产品类型名称：<input type="text" name="name" class="product_type_name" />
                           			产品类型介绍：<input type="text" name="introduction" class="product_type_introduction" />
                           			<input type="submit" class="btn-flat success new_product_type" value="+ 添加产品类型"/>
                           		</form>
	                        </div>
	                    </div>
	
	                    <div class="row-fluid">
	                        <table class="table table-hover">
	                            <thead>
	                                <tr>
	                                    <th class="span3">
	                                                                                产品类型名称
	                                    </th>
	                                    <th class="span3">
	                                        <span class="line"></span>产品类型介绍
	                                    </th>
	                                    <th class="span3">
	                                        <span class="line"></span>创建时间
	                                    </th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                            	{% if english_product_types %}
										{% for product_type in english_product_types %}
			                                <!-- row -->
			                                <tr>
			                                    <td>
			                                    	<input type="text" name="lang" class="product_type_lang" style="display:none" value="{{product_type.lang}}"/>
			                                        <input type="button" class="btn btn-link product_type_name edit_product_type" style="font-size:12px;" value="{{ product_type.name }}" />
			                                    </td>
			                                    <td class="introduction">
			                                    {{ product_type.introduction }}
			                                    </td>
			                                    <td>
			                                    {{ product_type.create_time|date:'Y-m-d H:i' }}
			                                    </td>
			                                    <td>
			                                        <ul class="actions">
			                                        		<li class="last">
				                                        		<form class="delete_product_type_form hidden" enctype="multipart/form-data" method="post" action="delete_product_type">
				                                        			<input type="text" name="id" class="product_type_id" style="display:none" value="{{product_type.id}}"/>
				                                        		</form>
				                                        		<a href="#" class="delete_product_type">删除</a>
			                                        		</li>
			                                        </ul>
			                                    </td>
			                                </tr>
		                                {% endfor %}
		                            {% endif %}
	                            </tbody>
	                        </table>
	                    </div>
	                </div>
	                <!-- end english product_type table -->
                    
                    
                    
                    
                    
                </div>
                <!-- end product_type edit -->
        
             
        </div>
    </div>
    <!-- end main container -->
{% endblock %}

{% block additional %}
    <!-- this page specific styles -->
    <link rel="stylesheet" href="css/compiled/gallery.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/compiled/tables.css" type="text/css" media="screen" />
	<!-- this page scripts -->
    <script src="js/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/theme.js"></script>
	<script charset="utf-8" src="js/editor/kindeditor.js"></script>
	<script charset="utf-8" src="js/lang/zh_CN.js"></script>
	<script>
	$(document).ready(function() {
    	$("#dashboard-menu .dropdown-toggle").click();
    	
    	$(".content").delegate(".delete_product_type", "click", function(){
    		$(this).siblings(".delete_product_type_form").submit();
    	});
	});
	</script>
	
{% endblock %}