{% extends "english/html/common/base.html" %}

{% block active_nav_id %}1{% endblock %}

{% block content %}
<div class="inside-page">

    <div class="page-sidebar" id="pageSidebar">
		<div class="page-sidebar-title">				
			<div class="sidebar-title-inner">
				<h2>ABOUT US</h2>
					
			</div>												
		</div>	
		<div class="page-sidebar-list" id="sidebarList">			
			<dl class="list-none navnow">
				<dt id="part2_7">
					<a href="company.html" title="Company Introduction" class="zm">
						<span>Company Introduction</span>
					</a>
				</dt>
			</dl>
			<dl class="list-none navnow">
				<dt id="part2_8">
					<a href="culture.html" title="Corporate Culture" class="zm">
						<span>Corporate Culture</span>
					</a>
				</dt>
			</dl>
			<dl class="list-none navnow">
				<dt id="part2_9">
					<a href="application.html" title="Product Application" class="zm">
						<span>Product Application</span>
					</a>
				</dt>
			</dl>
			<dl class="list-none navnow sidebar-dl-current">
				<dt id="part2_11" class="on">
					<a href="certificate.html" title="Certificate" class="zm bgnone">
						<span>Certificate</span>
					</a>
				</dt>
			</dl>				
		</div>
		
		<div class="page-sidebar-info active editor"><br><div class="clear"></div></div> 	
		
	</div>
    
    <div class="page-content" id="pageContent">
	    <div class="page-content-title float-fix">
	    	<h3>Certificate</h3>
	    	<div class="position">Location：<a href="index.html" title="Home">HOME</a> &gt; <a href="company.html">ABOUT US</a></div>
	    </div>

        <div class="active" id="productlist">
			<ul class="list-none metlist">
				{% for image in certificate_images %}
				<li class="list" style="width: 222px; margin-left: 16px; margin-right: 16px; height: 235px;">
					<a href="{{ image.file_info }}" title="{{image.description}}" target="_blank" class="img">
						<img src="{{ image.file_info }}" alt="{{image.description}}" title="{{image.description}}" width="139" height="196">
					</a>
					<h3>
						<a href="{{ image.file_info }}" title="{{image.description}}" target="_blank">{{image.display_name}}</a>
					</h3>
				</li>
				{% endfor %}
			</ul>
			<div class="clear"></div>
		</div>

    </div>
    
    <div class="clear"></div>
</div>

{% endblock %}