{% extends "english/html/common/base.html" %}

{% block active_nav_id %}3{% endblock %}

{% block content %}
<div class="inside-page">

    <div class="page-sidebar" id="pageSidebar">
		<div class="page-sidebar-title">				
			<div class="sidebar-title-inner">
				<h2>NEWS</h2>
					
			</div>												
		</div>	
		<div class="page-sidebar-list" id="sidebarList">			
			<dl class="list-none navnow sidebar-dl-current">
				<dt id="part2_19" class="on">
					<a href="news.html" title="News" class="zm">
						<span>News</span>
					</a>
				</dt>
			</dl>
		</div>
		
		<div class="page-sidebar-info active editor"><br><div class="clear"></div></div> 	
		
	</div>
		
    <div class="page-content" id="pageContent">
	    <div class="page-content-title float-fix">
	    	<h3>News</h3>
	    	<div class="position">Location：<a href="index.html" title="Home">HOME</a> &gt; <a href="news.html">NEWS</a></div>
	    </div>

        <div class="active" id="newslist">
			<ul class="list-none metlist">
				{% load humanize %}
				{% for news in all_news %}
				<li class="list top">
					<span>[{{ news.create_time|date:'Y-m-d H:i' }}]</span>
					<a href="news_detail.html?id={{news.id}}" title="{{news.title}}" target="_self">{{news.title}}</a>
					{% if news.create_time|naturalday == "today" %}
					<img class="listtop" src="images/news.gif" alt="new">
					<!-- <img class="listtop" src="images/top.gif" alt="置顶"> -->
					{% elif news.create_time|naturalday == "yesterday" %}
					<img class="listtop" src="images/news.gif" alt="new">
					{% endif %}
					<p>{% autoescape off %} {{ news.intro }} {% endautoescape %}</p>
				</li>
				{% endfor %}
			</ul>
			<div id="flip">
				<div class="digg4 metpager_8">
					{% if now_page_num == 1 %}
					<span class="disabled disabledfy">
						<b>«</b>
					</span>
					<span class="disabled disabledfy">‹</span>
					{% else %}
					<a class="disabledfy" href="news.html?page_num=1">
						<b>«</b>
					</a>
					<a class="disabledfy" href='news.html?page_num={{now_page_num|add:"-1"}}'>‹</a>
					{% endif %}
					{% for i in page_count %}
					{% if i == now_page_num %}
					<span class="current">{{ i }}</span>
					{% else %}
					<a href='news.html?page_num={{i}}'>{{ i }}</a>
					{% endif %}
					{% endfor %}
					{% if now_page_num == max_page_num %}
					<span class="disabled disabledfy">
						<b>»</b>
					</span>
					<span class="disabled disabledfy">›</span>
					{% else %}
					<a class="disabledfy" href='news.html?page_num={{now_page_num|add:"1"}}'>›</a>
					<a class="disabledfy" href="news.html?page_num={{max_page_num}}">
						<b>»</b>
					</a>
					{% endif %}
				</div>
			</div>
		</div>

    </div>
    <div class="clear"></div>
</div>

{% endblock %}