{% extends "english/html/common/base.html" %}

{% block active_nav_id %}2{% endblock %}

{% block content %}
<div class="inside-page">

    <div class="page-sidebar" id="pageSidebar">
		<div class="page-sidebar-title">				
			<div class="sidebar-title-inner">
				<h2>PRODUCT</h2>
					
			</div>												
		</div>	
		<div class="page-sidebar-list" id="sidebarList">
			{% for product_type in product_types %}
			<dl class="list-none navnow {% if select_product_type_id == product_type.id %}sidebar-dl-current{% endif %}">
				<dt {% if select_product_type_id == product_type.id %}class="on"{% endif %}>
					<a href="product.html?type_id={{product_type.id}}" title="{{prduct_type.name}}" class="zm">
						<span>{{ product_type.name }}</span>
					</a>
				</dt>
			</dl>
			{% endfor %}
		</div>
		
		<div class="page-sidebar-info active editor"><br><div class="clear"></div></div> 	
		
	</div>
		
    <div class="page-content" id="pageContent">
	    <div class="page-content-title float-fix">
	    	<h3>Product Detail</h3>
	    	<div class="position">Location：<a href="index.html" title="Home">HOME</a> &gt; <a href="product.html">PRODUCT</a> &gt; <a href="product.html?type_id={{product.type.id}}">{{product.type.name}}</a></div>
	    </div>

        <div class="active" id="showproduct">
			<h1 class="title">{{ product.name }}</h1>
            <dl class="pshow">
                <dt style="width: 500px;">
                	<span class="info_img" id="imgqwe">
                		<a href="{{product.pic}}" title="Show big pic" target="_blank">
                			<img src="{{product.pic}}" alt="{{product.name}}" title="{{product.name}}" width="500" height="375">
                		</a>
                	</span>
                </dt>
		        <dd style="width: 250px;">
		            <ul class="list-none">

                        <li style="padding-left: 93px;"><span>Product Type</span>{{product.type.name}}<div style="clear:both;"></div></li>

                        <li style="padding-left: 93px;"><span>Model</span>{{product.model}}<div style="clear:both;"></div></li>

                        <li style="padding-left: 93px;"><span>Power(kw)</span>{{product.power}}<div style="clear:both;"></div></li>

                        <li style="padding-left: 93px;"><span>Flow(m3/h)</span>{{product.flow}}<div style="clear:both;"></div></li>
                        
                        <li style="padding-left: 93px;"><span>Head(m)</span>{{product.head}}<div style="clear:both;"></div></li>
                        
                        <li style="padding-left: 93px;"><span>Voltage(V)</span>{{product.voltage}}<div style="clear:both;"></div></li>
                        
                        <li style="padding-left: 93px;"><span>Outlet(inch)</span>{{product.outlet}}<div style="clear:both;"></div></li>
                        
                        <li style="padding-left: 93px;"><span>Speed(r/min)</span>{{product.speed}}<div style="clear:both;"></div></li>
                        
                        <li style="padding-left: 93px;"><span>EFF(%)</span>{{product.eff}}<div style="clear:both;"></div></li>

			        </ul>
		        </dd>
	        </dl>
			<div style="clear:both;"></div>

			<h3 class="ctitle"><span>Product Introduction</span><div class="clear"></div></h3>

			<div class="editor"><div><div style="color: rgb(51, 51, 51); font-size: 14px; line-height: 28px;">
	<strong>Brief Introduction:&nbsp;</strong></div>
<div style="color: rgb(51, 51, 51); font-size: 14px; line-height: 28px;">
	{{product.abstract}}
	</div>
<div style="color: rgb(51, 51, 51); font-size: 14px; line-height: 28px;">
	&nbsp;</div>
<div style="color: rgb(51, 51, 51); font-size: 14px; line-height: 28px;">
	<strong>Feature:</strong></div>
<div style="color: rgb(51, 51, 51); font-size: 14px; line-height: 28px;">
	{{product.feature}}</div>
<div style="color: rgb(51, 51, 51); font-size: 14px; line-height: 28px;">
	&nbsp;</div>
<div style="color: rgb(51, 51, 51); font-size: 14px; line-height: 28px;">
	<strong>Detail Information:</strong></div>
<div style="color: rgb(51, 51, 51); font-size: 14px; line-height: 28px;">
	{{product.introduction}}</div>
</div><div class="clear"></div></div>
	    </div>

    </div>
    <div class="clear"></div>
</div>

{% endblock %}