{% extends "english/html/common/base.html" %}

{% block active_nav_id %}1000{% endblock %}

{% block content %}

<div id="pageSidebar" style="width:300px; margin: 35px 15px 15px 30%;">
	<div class="page-sidebar-title">
		<div class="sidebar-title-inner">
			<h2>Site Map</h2>
		</div>												
	</div>
	<div class="page-sidebar-list" id="sidebarList">			
		<dl class="list-none navnow">
			<dt id="part2_7">
				<a href="http://www.slongpump.com/en/index.html">Zhe Jiang Shuang Long Pump Co.,Ltd</a>
			</dt>
		</dl>
		<dl class="list-none navnow">
			<dt id="part2_8">
				<a href="http://www.slongpump.com/en/index.html">Tai Zhou Shuang Long Pump Co.,Ltd</a>
			</dt>
		</dl>
		<dl class="list-none navnow">
			<dt id="part2_9">
				<a href="http://www.slongpump.com/en/company.html">Company Introduction</a>
			</dt>
		</dl>
		<dl class="list-none navnow">
			<dt id="part2_9">
				<a href="http://www.slongpump.com/en/culture.html">Culture</a>
			</dt>
		</dl>
		<dl class="list-none navnow">
			<dt id="part2_9">
				<a href="http://www.slongpump.com/en/application.html">Product Application</a>
			</dt>
		</dl>
		<dl class="list-none navnow">
			<dt id="part2_9">
				<a href="http://www.slongpump.com/en/certificate.html">Certificate</a>
			</dt>
		</dl>
		<dl class="list-none navnow">
			<dt id="part2_9">
				<a href="http://www.slongpump.com/en/product.html">Product</a>
			</dt>
		</dl>
		<dl class="list-none navnow">
			<dt id="part2_9">
				<a href="http://www.slongpump.com/en/product_detail.html">Product Detail</a>
			</dt>
		</dl>
		<dl class="list-none navnow">
			<dt id="part2_9">
				<a href="http://www.slongpump.com/en/news.html">News</a>
			</dt>
		</dl>
		<dl class="list-none navnow">
			<dt id="part2_9">
				<a href="http://www.slongpump.com/en/news_detail.html">News Detail</a>
			</dt>
		</dl>
		<dl class="list-none navnow">
			<dt id="part2_11">
				<a href="http://www.slongpump.com/en/contact.html" class="zm bgnone">Contact Us</a>
			</dt>
		</dl>				
	</div>
	<div class="page-sidebar-info active editor"><br><div class="clear"></div></div> 	
</div>

{% endblock %}