<!DOCTYPE HTML>
<html>
<head>
<title>404 error page</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap/bootstrap.css" rel="stylesheet" />
<link href="css/lib/font-awesome.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="css/layout.css" />
<style type="text/css">
	body {font-family: 'Open Sans', 'Microsoft YaHei', sans-serif;}
	.bg-404 {
  background: url("images/bgs/9.jpg") no-repeat center center fixed;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bgs/9.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bgs/9.jpg', sizingMethod='scale')";
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
</style>
</head>
<body class="bg-404">
	<div class="content404" style="color:#FFFFFF;font-size:30px;margin-top:150px;text-align:center;">
		<h1><a href="index.html" style="color:#FFFFFF;font-size:200px;text-decoration:none;">404</a></h1>
		<br>
		<span><i class="icon-info-sign"></i>找不到页面，<span><a href="index.html">返回主页</a></span></span>
		<div><span><i class="icon-info-sign"></i>Page Not Found, <span><a href="index.html">Back to Home</a></span></span></div>
	</div>
</body>
</html>