@charset "utf-8";
html, body {font: 12px/1.8 'Microsoft YaHei',Tahoma,Verdana,'Simsun'; color: #333; -webkit-text-size-adjust: none; -webkit-font-smoothing: antialiased;}
 :link,  :visited {text-decoration: none;}
a {color: #405b78;}
a:hover, :active {outline: none;}
ul, ol {margin: 0; padding: 0; list-style: none;}
input {color: #333;}
img {border: 0;}

/*** Main Common ***/
.head-top, 
.head-nav ul, 
.head-search,
.main-block,
.main-photos-inner,
.foot-inner,
.inside-page {
	width: 1000px; margin-left: auto; margin-right: auto;
}
.top-nav-tel dt,
#btn_prev, #btn_next,
.slide-btn-l, .slide-btn-r,
.ico-uptime,
.subList-mark {
	background: url(../images/ico_map_common.png) no-repeat; _background: url(../ico_map_common_ie6fix.gif) no-repeat;
}

/*** 头部 ***/
header {background: #fff;}
	.head-top {min-height: 90px; _height: 90px;}
		.top-logo {float: left;}
		.top-nav {float: right; margin-top: 10px; list-style-type: none; text-align: right; color: #54596f;}
			.top-nav a {color: #54596f;}
			.top-nav a:hover {text-decoration: underline;}
			.top-nav span {margin: 0 8px; color: #9c9fac;}
			.top-nav-tel {height:30px; margin: 15px 0 0px; line-height: 32px;}
			.top-nav-tel dt, .top-nav-tel dd {display: inline-block; *display: inline; *zoom: 1;}
			.top-nav-tel dt {height: 31px; padding-left: 36px; background-position: 0 -84px;}
			.top-nav-tel dd {margin-left: 8px; vertical-align: top; font-size: 19px;}
	.head-nav {height: 35px; background-color: #405b78;}
		.head-nav ul {height: 100%; *zoom: 1;}	
		.head-nav ul:after,.head-nav ul:before {display: block; content: "clear"; height: 0; clear: both; overflow: hidden; visibility: hidden;}
		.head-nav li {float: left;}
		.head-nav dl {display:none; position: absolute; z-index: 7; white-space: nowrap; border: 1px solid #e0e0e0; border-top-width: 0; background-color: #f0f0f0;}
		.head-nav-list1, .head-nav-list2 {display: block; _display:inline; _zoom:1; height: 100%; padding: 0 24px 0 25px; line-height: 35px;}
		.head-nav-list1 {text-align: center; border: 1px solid #405b78; border-width: 0 1px; color: #fff;}		
		.head-nav-list2 {color: #333;}
		.head-nav-list2:hover {background: url(../bg_subNav_hover.png) 12px center no-repeat; color: #c00000}
		.nav-list1-hover {background-color: #374E67; border-color: #334960;}
		.nav-current {background-color: #c00000;}
	.head-search, .head-search .navsearch_input {position: relative;}
		.navsearch_input label {position: absolute; left: 0; top: 0;}
		.head-search input {float: left;}
		.head-search .navsearch_input {display: block; float: left; background: #fff;}
		.head-search .navsearch_input label {left: 5px; top: 2px; z-index: 1; cursor: text;}
		.head-search .navsearch_input input {outline: none; border: 1px solid #eaeaea; background: none; position: relative; z-index: 2;}
		.head-search form {position: absolute; top: -29px; *top: -51px; right: 0;}
		.navsearch_input input {width: 160px; height: 21px; padding: 0 5px; line-height: 21px; border: none; background-color:#fff; font-family: 'Microsoft YaHei'; *font-family: inherit;}
		.searchimage {vertical-align: -7px; *vertical-align: -3px;}

/*** 全屏banner效果 ***/
.main-banner {position: relative; overflow: hidden; margin: 0 auto;}
	.main-banner, .main-banner li, .main-banner li span, .main-banner li a {width: 100%;}
		.main-banner ul {position: absolute; top: 0; left: 0; overflow: hidden; width: 9999px;}		
	    .main-banner li {float: left;}	
	    .main-banner li span, .main-banner li a {display: block;}	
		.main-banner li .img-span {background-position: center center; background-repeat: no-repeat;}
	.flicking-con {height: 0; overflow: hidden;}	
    #btn_prev, #btn_next {position:absolute; top:50%; z-index:2; display:none; width:44px; height:60px; margin-top:-30px;}      
	#btn_prev {left: 50%; margin-left: -475px; background-position: 0 0;}
	#btn_prev:hover {background-position: 0 -203px;}
    #btn_next {right: 50%; margin-right: -485px; background-position: -44px 0;}
    #btn_next:hover {background-position: -44px -203px;}

/*** 内容主体内容 ***/
.main-block {position: relative; top: -34px;}
	.main-block-left, .main-block-right {float: left;}
	.main-block-left {width: 330px;}
		.block-slide-img {position: relative; overflow-x: hidden; font-size: 0; background-color: #f0f0f0;}
		.block-slide-img li {position: relative; overflow: hidden;}
		.block-slide-img a {display: block; min-height: 160px; _height: 160px;}
		.block-slide-img a p {text-align: center; font-size: 0;}
			.slide-img-title {position: absolute; left: 0; bottom:0; width: 100%; height: 26px; line-height: 27px; overflow: hidden; text-align: center; font-weight: normal; font-size: 12px; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000'); background-color: rgba(0,0,0,.5); color: #fff;}
	.main-block-right {width: 670px;}		
		.block-slide-news {position: relative; height: 34px; line-height: 34px; margin-bottom: 15px; padding-right: 50px; background-color: #e3eef4;}
		.block-slide-news, .block-slide-news li {white-space: nowrap; _white-space: break-all; text-indent: 20px; text-overflow: ellipsis; -o-text-overflow: ellipsis; overflow: hidden;}
		.block-slide-news a {color: #435063;}
		.block-slide-news a:hover, .paragraph-title a:hover {color: #000;}
		.block-text-paragraph {padding-left: 18px; overflow: hidden; background-color: #fff; color: #6c6c6c;}
			.paragraph-title {position: relative; margin-bottom: 15px; padding-bottom: 2px; border-bottom: 1px solid #d6d6d6;}
			.paragraph-title span {padding-bottom: 4px; border-bottom: 2px solid #b70100; font-size: 14px;}
			.paragraph-title a {position: absolute; top: 5px; right: 10px; font-weight: normal; color: #6c6c6c;}
			.paragraph-content {padding-right: 14px;}
	
	/* Common UI 滑动切换按钮 */
	.slide-btn-l, .slide-btn-r {position: absolute; width: 20px; height: 34px; overflow: hidden; background-color: #2a3747; cursor: pointer;}	
	.slide-btn-l {background-position: -87px 9px;}
	.slide-btn-r {background-position: -101px 9px;}
	.slide-btn-l:hover {background-position: -87px -28px;}
	.slide-btn-r:hover {background-position: -101px -28px;} 
	.slide-btn-l:hover.slide-btn-disabled {background-position: -87px 9px;}
	.slide-btn-r:hover.slide-btn-disabled {background-position: -101px 9px;}
	.slide-btn-disabled {background-color: #444f63; cursor: default;}

	.block-slide-news .slide-btn-l {top: 34px; right: 20px; margin-top: -34px;}
	.block-slide-news .slide-btn-r {top: 34px; right: 0; margin-top: -34px;}
	.block-slide-news .slide-btn-l:hover {background-color: #444f63;}
	.block-slide-news .slide-btn-r:hover {background-color: #444f63;}
	.block-slide-img  .slide-btn-l {top: 50%; left: 0; margin-top: -20px;}
	.block-slide-img  .slide-btn-r {top: 50%; right: 0; margin-top: -20px;}
	.main-photos-inner .slide-btn-l, .main-photos-inner .slide-btn-r {top: 88px; width: 51px; height: 128px; background-color: #f7f7f7; opacity: .85; filter: alpha(opacity=85);}
	.main-photos-inner .slide-btn-l {left: 0; background-position: -185px 0;}
	.main-photos-inner .slide-btn-r {right: 0; background-position: -236px 0;}
	.main-photos-inner .slide-btn-l:hover {background-position: -185px 0; opacity: 1; filter: none;}
	.main-photos-inner .slide-btn-r:hover {background-position: -236px 0; opacity: 1; filter: none;}

/*** 照片展示主体内容 ***/
.main-photos {margin-top: -14px; padding: 20px 0 40px; background-color: #f7f7f7;}
	.main-photos-inner {position: relative;}
	.main-photos-inner h2 {font-size:18px; font-weight: normal; text-align: center; color: #435063;}
	.main-photos-inner nav {margin: 10px 0 25px; text-align: center; color: #949494;}		
		.photo-show-nav {padding-bottom: 2px; _padding-bottom: 0; border-bottom: 2px solid transparent; _border-color: #f7f7f7; color: #949494;}
		.photo-show-nav:hover, .photo-nav-current {border-color: #bb0301;}
		.photos-inner-wrap {width: 890px; min-height: 100px; margin: 0 auto; overflow: hidden; text-align: center; color: #949494;}	
			.photo-show-content {width: 890px; white-space: nowrap; overflow: hidden;}
			.photo-show-content a {display: inline-block; *zoom: 1; margin-right: 10px; vertical-align: top;}
			.photo-show-content h5 {word-break: break-all; white-space: normal; font-weight: normal; font-size: 13px; text-align: left; color: #555d68;}
		
	.photo-nav-line {margin: 0 4px;}
	.photo-update-time {text-align: left; color: #a3a8ac;}
	.ico-uptime {display: inline-block; *zoom: 1; width: 11px; height: 11px; margin-right: 4px; vertical-align: -1px; *vertical-align: middle; _vertical-align: -3px; background-position: 0 -150px;}
	.order-mark {position: absolute; padding: 1px 4px 1px 3px; line-height: 1.6; color: #eee; background: #303942; border-bottom-right-radius: 8px;}

/*** 底部 ***/
footer {border-top: 1px solid #071017; background-color: #303942;}	
	footer a {color: #7b848d;}
	footer a:hover {color: #b2b7bc;}
	.foot-inner {color: #7b848d;}
		.foot-left, .foot-right {float: left;}
		.foot-left {width: 166px; padding: 18px 0; text-align: center; font-size: 14px; font-family: Arial; background-color: #252e37; color: #48525b;}
			.left-align-fix {float: left; width: 100%; height: 50%;}
			.foot-left-inner {clear: left; padding:0px 15px;}
			.foot-left-inner img  { width:100%; }
		.foot-right {width: 754px; padding: 18px 40px; vertical-align: top;}
			.foot-nav span {margin: 0 15px;}
			.foot-nav, .foot-copyright, .foot-links {padding-left: 10px;}
			.foot-nav, .foot-contack, .foot-copyright {margin-bottom: 10px;}
			.foot-contact {padding: 2px 10px; background-color: #28313a;}
			.foot-copyright {margin-top: 10px;}
			.foot-hr-line {height: 2px; margin: 15px 0; background: url(../bg_footer_line.gif) 0 bottom repeat-x;}
			.foot-links h4 {margin-bottom: 10px; font-size: 14px; font-weight: normal; color: #a7b1bb;}
			.foot-links-content li {display: inline-block; *display: inline; *zoom: 1; margin-right: 15px;}
			.foot-links-content img {width: 88px; height: 31px;}
			.foot-links-content .large img {width: 120px; height: 60px;}

/*** 内页侧栏 ***/
.page-sidebar {position: relative; z-index: 6; float: left; width: 200px; margin: -35px 15px 15px 0;}
	.page-sidebar-title {border: 1px solid #405b78; border-bottom: none; background-color: #fff; color: #0e4b5e;}
		.sidebar-title-inner {margin: 0 15px; padding: 15px 0; line-height: 1.5; text-indent: 15px; word-break: break-all; background: url(../images/bg_sidebar_title.gif) left center no-repeat;}
		.sidebar-title-inner h2 {font-size: 18px;}
	.page-sidebar-list {margin-bottom: 4px; word-break: break-all; background-color: #4f7dad;}
		.page-sidebar-list dl a {display: block; *width: 80%; _width: 85%; padding: 6px 10px 9px; _padding-right: 0; color: #fff;}		
		.page-sidebar-list dt, .page-sidebar-list dd {margin: 0 15px;}	
		.page-sidebar-list dt {position: relative;}
		.page-sidebar-list dt.on + dd {display: block;}		
		.page-sidebar-list dt a {margin-right: 15px; background: url(../images/bg_sidebar_line.gif) bottom repeat-x;}
		.page-sidebar-list dd {display: none; line-height: 1;}
		.page-sidebar-list dd h4 {padding: 0 12px 0 8px; font-weight:normal;}
		.page-sidebar-list dd a {color: #d5d5d5;}
		.page-sidebar-list dd a:hover, .page-sidebar-list h4.on a {background: url(../images/bg_sidebar_sublist.gif) left center no-repeat; color: #fff;}	
	.page-sidebar-info {_position: relative}
	
	.page-sidebar-list .bgnone {background: none;}
	.page-sidebar-list .sidebar-dl-hover  {border-color: #c92d2d;}
	.page-sidebar-list .sidebar-dl-hover {background: url(../images/bg_sidebar_line_active.gif) top repeat-x;}	
	.page-sidebar-list .sidebar-dl-current {background-color: #405b78;}
					   .sidebar-dl-current dt a {background-image: url(../images/bg_sidebar_line_active.gif);}

	.subList-mark {position: absolute; top: 50%; _top: 9px; right: 2px; _right: 20px; width: 13px; height: 13px; margin-top: -6px; _margin-top: 2px; background-position: -58px -150px; cursor: pointer;}
		.mark-fold {background-position: -31px -150px;}

/*** 内页内容部分 ***/
.page-content {float: left; width: 785px;}
	.page-content h3 a:hover, .page-content-title a:hover, .page-content li a:hover {color: #000;}
	.page-content-title {margin: 10px 0 5px 10px; border-bottom: 3px solid #4f7dad;}
	.page-content-title h3 {float: left; height: 100%; margin-bottom: -3px; padding: 0 10px 4px 6px; font-weight: normal; font-size: 18px; color: #405b78; border-bottom: 3px solid #405b78;}	
	.page-content-title .position {float: right; margin-top: 10px; margin-right: 15px; font-family: 'Simsun';}

/*** Fix ***/
.float-fix {*zoom: 1;}
.float-fix:after,.float-fix:before {display: block; content: "clear"; height: 0; clear: both; overflow: hidden; visibility: hidden;}
